/*цвет основного текста #757575*/
/*цвет меню+заголовки #212121*/
/*белый #FFFFFF  */
/*наведение на кнопки #2196F3 */
/*цвет фона #2F303A*/
/*цвет фона кнопок #F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-hero: #2f303a;
  --background-button: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
}

/*логотип*/
.logo {
  margin-right: 93px;
  

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-foot {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-img {
  color: var(--accent-color);
}

/*менюшка*/

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth .item + .item {
  margin-left: 50px;
}

.auth .link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.hero {
  text-align: center;
}

.section .hero-header {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  background-color: var(--background-hero);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section .button {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section .title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section .head-name {
  margin-top: 94px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.adv-flex {
  display: flex;
}

.adv-flex .item {
  width: 270px;
  align-items: center;
}

.adv-flex .item:not(:last-child) {
  margin-right: 30px;
}

.list p {
  margin-bottom: 94px;
}

.list .portfolio-link {
  margin-bottom: 20px;
}

.cont-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cont-work p {
  margin-top: 0px;
  margin-bottom: 124px;
}

.work {
  display: flex;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.cont-command {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.command {
  display: flex;
}

.command .item:not(:last-child) {
  margin-right: 30px;
}

.section .head-team {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section .description {
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
   background-color: var(--background-hero);
}


.footer-primary {
 display: flex;
  margin-top: 20px;
  margin-bottom: 9px;
}

.foot .item:not(:last-child) {
  /*display: flex;*/
  margin-bottom: 9px;
}

.footer .footer-main {
  color: var(--primary-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-primary {
  

  color: var(--primary-white-color);

  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}

.footer .footer-second {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}

.footer-second{
  margin-bottom: 9px;
}

.foot-main {
  padding-top: 60px;
  padding-bottom: 60px;
}



.link,
.list {
  text-decoration: none;
}

.list-link {
  color: var(--primary-text-color);
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 14px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  background-color: var(--background-button);

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-menu {
  display: flex;
  text-align: center;
  justify-content: center;
}

.portfolio-menu .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-head {
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link {
  margin-top: 0px;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

.title-adv,
.title-portfolio {
  display: none;
}

.site-nav .link.current {
  color: var(--accent-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.main-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.main-portfolio .item {
  width: 370px;
  margin: 15px;
}

.main-portfolio .item:nth-child(3n)  {
  margin-right: 0px;
}
